<div class="createOrUpdateFormWindow">
  <form class="form form-second" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <button id="close button" class="closeButton icon" (click)="closeAndGoBack() " [title]='generalNamesInSelectedLanguage.closeButtonDescription'>
      <span class="hidden">Zamknij</span>
    </button>
    <h2 class="heading">{{userNamesInSelectedLanguage.updateUser}}</h2>
    <fieldset class="fieldset">
      <input type="text" class="input" formControlName="fulName" id="fullName" placeholder="userNamesInSelectedLanguage.fullName">
      <label class="label" for="fullName" id="materialCodeLabel">{{userNamesInSelectedLanguage.fullName}}</label>
      <div *ngIf="fulName.invalid && (fulName.dirty || fulName.touched)"
            class="alert alert-danger">

        <div class="validatorInfo" *ngIf="fulName.errors.required">
          <label
            class="text-danger">
            {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
        </label>
        </div>
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <input type="text" class="input" formControlName="email" id="email" placeholder="userNamesInSelectedLanguage.email">
      <label class="label" for="email">{{userNamesInSelectedLanguage.email}}</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div class="validatorInfo" *ngIf="email.errors.required">
          {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
        </div>
        <div class="validatorInfo" *ngIf="email.errors?.taken">
          {{userNamesInSelectedLanguage.emailIsAlreadyTaken}}
        </div>
        <div class="validatorInfo" *ngIf="email.errors.email">
          {{userNamesInSelectedLanguage.emailMustBeValid}}.
        </div>
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <input type="checkbox" class="input-checkbox" formControlName="active" id="active">
      <label for="active" class="input-checkbox-label icon">
        <span class="hidden">{{userNamesInSelectedLanguage.active}}</span>
      </label>
    </fieldset>
    <fieldset class="fieldset">
      <label for="status" class="label">{{userNamesInSelectedLanguage.status}}</label>
      <select class="select-input" formControlName="isAdmin" id="status" #selectStatus>
        <option #optionForSelectStatus id='admin' [ngValue]="true">{{this.admin}}</option>
        <option #optionForSelectStatus id='editor' [ngValue]="false">{{this.editor}}</option>
      </select>
      <div *ngIf="isAdmin.invalid && (isAdmin.dirty || isAdmin.touched)"
            class="alert alert-danger">
        <div class="validatorInfo" *ngIf="isAdmin.errors.required">
          {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
        </div>
      </div>
    </fieldset>
    <div class="addButon">
      <button type="submit" [disabled]="!userForm.valid" class="button">{{generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>
  </form>

  <div *ngIf="operationStatusMessage">
    <textarea>{{operationStatusMessage}}</textarea>
  </div>
</div>






