
<div class="materialComponent">

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th>{{this.orderNames.orderNumber}}<br></th>
      <th>{{this.orderNames.index}}</th>
      <th>{{this.generalNamesInSelectedLanguage.name}}</th>
      <th>{{this.orderNames.yourCommentToOrder}}</th>
      <th>{{this.orderNames.date}}</th>
      <th>{{this.generalNamesInSelectedLanguage.quantity}}</th>

    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let order of records">
      <td>{{order.orderTotalNumber}}</td>
      <td>{{order.index}}</td>
      <td>{{order.orderName}}</td>
      <td>{{order.commentToOrderString}}</td>

      <td>{{order.dateString}}</td>
      <td>
        <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
        <br>
        <button class="showDrawing" (click)="showDrawing(order.id)">{{this.generalNamesInSelectedLanguage.seeDrawing}}</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>











