<div class="createOrUpdateFormWindow">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]='this.generalNamesInSelectedLanguage.closeButtonDescription'>x</button>
  <h2>{{this.formTitleCreateOrUpdate}}</h2>
  <div class="addButon">
    <button class="btn btn-danger" *ngIf="showChangeDrawingButton() === true;" type="button" (click)="onDrawingCHangeForUpdate();">{{changeDrawingButtonDescription}}</button>
  </div>

  <form *ngIf="createNewOrChangeDrawingClicked()" enctype="multipart/form-data" [formGroup]="upladDrawingForm" (ngSubmit)="onUpload()">

    <div class="col">
      <div class="form-group col-md-6">
        <label class="label" for="uploadDrawing">{{this.generalNamesInSelectedLanguage.selectDrawingToUpload}}</label>
        <input type="file" name="file" id="uploadDrawing" formControlName="file" (change)="onFileChange($event)">

        <div *ngIf="file.invalid"
             class="alert alert-danger">

          <div class="validatorInfo" *ngIf="file.errors.required">
          {{this.generalNamesInSelectedLanguage.selectingDrawingIsRequired}}
          </div>
        </div>
      </div>

    </div>


    <div class="uploadDrawingButton">
      <button type="submit" [disabled]="!upladDrawingForm.valid" class="btn btn-danger">{{this.generalNamesInSelectedLanguage.upload}}</button>
    </div>
    <div class="alert-danger" *ngIf="!uploadSuccessStatus">
      <p>{{this.generalNamesInSelectedLanguage.uploadingDrawingIsRequired}}</p>
    </div>
    <div *ngIf="!uploadSuccessStatus && uploadOperationMessage" class="alert alert-danger">
      <p>{{uploadOperationMessage}}</p>
    </div>
    <div *ngIf="uploadSuccessStatus && uploadOperationMessage" class="alert-success">
      <p>{{uploadOperationMessage}}</p>
    </div>
  </form>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="form-group col-md-6">
        <label class="label" for="type">{{this.generalNamesInSelectedLanguage.select + ' '+ this.orderNamesInSelectedLanguage.productType}}</label>
        <select class="form-control" formControlName="type" id="type" #selectType>
          <option class="selectTypeValues" [id]="'type'+type.id"  *ngFor="let type of allTypesToSelect" [ngValue]="type">
            {{ type.code + ' - ' + getNameInSelectedLanguage(type.localizedNames)}}
            <!-- type.names-->
          </option>
        </select>
        <div *ngIf="type.invalid && (type.dirty || type.touched)"
             class="alert alert-danger">

          <div class="validatorInfo" *ngIf="type.errors.required">
           {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
          </div>
        </div>
      </div>
      <div *ngIf="this.type.value">
      <div class="form-group col-md-6">
        <label class="label" for="top">{{this.generalNamesInSelectedLanguage.select + ' '+ this.orderNamesInSelectedLanguage.productTop}}</label>
        <select class="form-control" formControlName="top" id="top" #selectTop (click)="selectTopClicked = true">
          <option class="selectTopValues" [id]="'top'+top.id" *ngFor="let top of allTopsToSelect" [ngValue]="top">
            {{ top.code + ' - ' + getNameInSelectedLanguage(top.localizedNames) }}
          </option>
        </select>
        <div *ngIf="top.invalid && (top.dirty || top.touched)"
             class="alert alert-danger">

          <div class="validatorInfo" *ngIf="top.errors.required">
            {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
          </div>
        </div>
      </div>
      <div class="form-group col-md-6" >
        <label class="label" for="bottom">{{this.generalNamesInSelectedLanguage.select + ' '+ this.orderNamesInSelectedLanguage.productBottom}}</label>
        <select class="form-control" formControlName="bottom" id="bottom" #selectBottom (click)="this.selectBottomClicked = true;">
          <option class="selectBottomValues" [id]="'bottom'+bottom.id" *ngFor="let bottom of allBotomsToselect" [ngValue]="bottom">
            {{ bottom.code + ' - ' + getNameInSelectedLanguage(bottom.localizedNames) }}
          </option>
        </select>
        <div *ngIf="bottom.invalid && (bottom.dirty || bottom.touched)"
             class="alert alert-danger">

          <div class="validatorInfo" *ngIf="bottom.errors.required">
            {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="addButon">
      <button type="submit" [disabled]="allowSubmit() === false" class="btn btn-danger">{{this.orderNamesInSelectedLanguage.submitButtonNext}}</button>
    </div>

  </form>

  <div *ngIf="operationFailerStatusMessage" class="alert-danger">
    <p>{{operationFailerStatusMessage}}</p>
  </div>
  <div *ngIf="operationSuccessStatusMessage" class="alert-success">
    <p>{{operationSuccessStatusMessage}}</p>
  </div>

</div>












