.drawingDetailTable {
  font-size: 0.9122vw;
  max-width: 29.19vw;
}

.drawingDetailTable label {
  margin: 0;
}

.drawingDetailTableRow, .drawingDetailTableHorizontal .drawingDetailTable {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.drawingDetailTableHorizontal .drawingDetailTable {
  max-width: unset;
}

.drawingDetailTableHorizontal .drawingDetailTableRow {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.drawingDetailTableCol {
  border: 0.1vw solid #565759;
  border-bottom: none;
  border-right: none;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.3420vw 0.6840vw;
}

#DrawingDetailTableContainer:not(.drawingDetailTableHorizontal) .drawingDetailTableCol {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  max-width: 70%;
}

#DrawingDetailTableContainer:not(.drawingDetailTableHorizontal) .drawingDetailTableCol:first-child {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
}

.drawingDetailTableHorizontal .drawingDetailTableCol  {
  width: 100%;
}

.drawingDetailTableHorizontal .drawingDetailTableCol + .drawingDetailTableCol {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.drawingDetailTableHorizontal .drawingDetailTableIndex,
.drawingDetailTableHorizontal .drawingDetailTableOrderName .drawingDetailTableMaterialName {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.drawingDetailTableHorizontal .drawingDetailTableForm,
.drawingDetailTableHorizontal .drawingDetailTableLogo {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  order: 2;
}

.drawingDetailTableHorizontal .drawingDetailTableForm .drawingDetailTableCol:nth-child(1),
.drawingDetailTableHorizontal .drawingDetailTableLogo .drawingDetailTableCol:nth-child(1) {
  display: none;
}

