.drawingDetailTable {
  background: #fff;
  border-top-left-radius: 5px;
  font-size: 0.9122vw;
  max-width: 29.19vw;
}

.drawingDetailTable label {
  margin: 0;
}

.drawingDetailTableRow {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.drawingDetailTableCol {
  border: 1px solid #323;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  color: #323;
  flex: 0 0 auto;
  padding: 0.3420vw 0.6840vw;
}

#DrawingDetailTableContainer .drawingDetailTableCol {
  flex-basis: 75%;
  max-width: 75%;
}

#DrawingDetailTableContainer .drawingDetailTableCol:first-child {
  flex-basis: 25%;
  max-width: 25%;
}

.table-fieldset {
  margin-bottom: 0.6840vw;
}

.fieldset-subheading {
  margin:0 0 0.4840vw;
}

.table-fieldset-input {
  margin-right: 0.3420vw;
  display: inline-block;
  vertical-align: middle;
}

.table-second-input {
  margin-left: 0.3420vw;
  display: inline-block;
  vertical-align: middle;
}

.product-table {
  display: flex;
  justify-content: space-between;
}

.table-fieldset-row {
  flex-basis: 41%;
  max-width: 41%;
}

.first-table-row {
  flex-basis: 54%;
  max-width: 54%;
  margin-right: 1.4vw;
}

.temp-input {
  width: 1.5vw;
}

.drawingDetailTableHorizontal {
  width: 48vw;
}

.drawingDetailTableHorizontal .drawingDetailTable {
  max-width: 48vw;
}

.drawingDetailTableHorizontal .horizontal-row {
  display: flex;
  justify-content: space-between;
}

.drawingDetailTableHorizontal .horizontal-row .horizontal-col:first-of-type {
  flex-basis: 60%;
  max-width: 60%
}

.drawingDetailTableHorizontal .horizontal-row .horizontal-col:last-of-type {
  flex-basis: 40%;
  max-width: 40%
}

.drawingDetailTableHorizontal .drawingDetailTableCommentToOrder {
  border-bottom: 1px solid #999;
}