.drawingDetailTable {
  background: #fff;
  border-top-left-radius: 5px;
  color: #a4a9ae;
  font-size: 0.9122vw;
  max-width: 29.19vw;
}

.drawingDetailTable label {
  margin: 0;
}

.drawingDetailTableRow {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.drawingDetailTableRow:nth-child(2n) {
  background: #f6f8fa;
}

.drawingDetailTableCol {
  border-bottom: none;
  border-right: none;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.3420vw 0.6840vw;
}

#DrawingDetailTableContainer .drawingDetailTableCol {
  flex-basis: 75%;
  max-width: 75%;
}

#DrawingDetailTableContainer .drawingDetailTableCol:first-child {
  flex-basis: 25%;
  max-width: 25%;
}

.table-fieldset {
  margin-bottom: 0.6840vw;
}

.fieldset-subheading {
  margin:0 0 0.6840vw;
}

.table-fieldset-input {
  margin-right: 0.3420vw;
  display: inline-block;
  vertical-align: top;
}

.table-second-input {
  margin-left: 0.3420vw;
  display: inline-block;
  vertical-align: top;
}

.product-table {
  display: flex;
  justify-content: space-between;
}

.table-fieldset-row {
  flex-basis: 41%;
  max-width: 41%;
}

.temp-input {
  margin-left: 0.6840vw;
  width: 40px;
}

.drawingDetailTableHorizontal .drawingDetailTable {
  max-width: 44vw;
}

.drawingDetailTableHorizontal .horizontal-row {
  display: flex;
  justify-content: space-between;
}