<div class="createOrUpdateFormWindow">
  <button id="close button" class="closeButton" (click)="closeAndGoBack();" [title]='generalNamesInSelectedLanguage.closeButtonDescription'>x</button>
  <h2 class="formTitle">{{this.materialNamesInSelectedLanguage.updateMaterial}}</h2>
  <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-6">
          <label for="materialCode">{{materialNamesInSelectedLanguage.materialCode}}</label>
          <input type="text" class="form-control" formControlName="materialCode" id="materialCode">
          <div *ngIf="materialCode.invalid && (materialCode.dirty || materialCode.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="materialCode.errors.required">
             {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="materialCode.errors.minlength">
              {{materialNamesInSelectedLanguage.materialCodeMustContain6CHaracters}}
            </div>
            <div class="validatorInfo" *ngIf="materialCode.errors.maxlength">
              {{materialNamesInSelectedLanguage.materialCodeMustContain6CHaracters}}
            </div>
            <div class="has-text-danger" *ngIf="materialCode.errors?.taken">
              <!--error name is name of error in async validatod:ValidateMaterialCodeUniqueService-->
              {{generalNamesInSelectedLanguage.thisCodeIstaken}}
            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label for="materialName">{{this.materialNamesInSelectedLanguage.materialName}}</label>
          <input type="text" class="form-control" formControlName="materialName" id="materialName">
          <div *ngIf="materialName.invalid && (materialName.dirty || materialName.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="materialName.errors.required">
             {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="materialName.errors?.taken">
              {{this.generalNamesInSelectedLanguage.thisNameIsTaken}}
            </div>
          </div>

        </div>
    </div>
    <div class="addButon">
      <button type="submit" [disabled]="!materialForm.valid" class="btn btn-danger">{{this.generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>
  </form>
  <div class="showOperationStatusContainer" *ngIf="operationStatusMessage">
    <p>{{operationStatusMessage}}</p>
  </div>
</div>
