<div class="createOrUpdateFormWindow">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]='this.generalNamesInSelectedLanguage.closeButtonDescription'>x</button>
  <h2>{{this.formTitileCreateOrUpdate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">

        <div class="form-group col-md-6">
          <label class="label" for="code">{{generalNamesInSelectedLanguage.code}}</label>
          <input type="text" class="form-control" formControlName="code" id="code">
          <div *ngIf="code.invalid && (code.dirty || code.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="code.errors.required">
             {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="code.errors?.taken">
              {{generalNamesInSelectedLanguage.thisCodeIstaken}}
            </div>
            <div class="validatorInfo" *ngIf="code.errors.minlength">
              {{this.generalNamesInSelectedLanguage.codeMustContain2Characters}}
            </div>
            <div class="validatorInfo" *ngIf="code.errors.maxlength">
              {{this.generalNamesInSelectedLanguage.codeMustContain2Characters}}
            </div>
          </div>

        </div>
    </div>
      <div  class="row-cols-1">
        <p>{{giveNameForAllLanguagesDescription}}</p> <br>
        <app-langage-form-component></app-langage-form-component>

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <p>{{this.generalNamesInSelectedLanguage.select + ' '+ orderNamesInSelectedLanguage.productTops}}</p>
          <div *ngFor="let top of allTopsToSelect">

            <label [for]="'topInput'+top.id"  > {{ top.code +'-' + getNameInSelectedLanguage(top.localizedNames) }}</label>
            <input  type = "checkbox" [id]="'topInput'+top.id" #topsCheckbox [checked]="setCheckedpropertyOfTopsCheckBoxForUpdateMode(topsCheckbox.id)">
          </div>
        </div>
      <div class="form-group col-md-6">
        <p>{{this.generalNamesInSelectedLanguage.select + ' '+ orderNamesInSelectedLanguage.productBottoms}}</p>
        <div *ngFor="let bottom of allBotomsToselect">

          <label [for]="'bottomInput'+bottom .id"  > {{ bottom .code +'-' + getNameInSelectedLanguage(bottom.localizedNames) }}</label>
          <input type = "checkbox" [id]="'bottomInput'+bottom.id" #bottomCheckbox [checked]="setCheckedpropertyOfBotttomCheckBoxForUpdateMode(bottomCheckbox.id)">
        </div>
      </div>

      </div>
    <div class="addButon">
      <button type="submit" [disabled]="!form.valid" class="btn btn-danger">{{this.generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>

  </form>

  <div *ngIf="showoperationStatusMessage">
    <textarea>{{showoperationStatusMessage}}</textarea>
  </div>
</div>








