<div id="productMiniatureContainer">

  <p>{{this.orderNames.chooseProductByDrawingButtonDescription}}</p>

<div id="drawingAndDescriptionContainer" *ngFor="let product of products" (click)="selectProductAndNavigateBack(product)">


  <p> {{ this.orderNames.productType+ ': '+product.productType.code + ' - '+ getNameInSelectedLanguage(product.productType.vocabulary.localizedNames)}}</p>
  <p>{{ this.orderNames.productTop+ ': '+  product.productTop.code +' - '+ getNameInSelectedLanguage(product.productTop.vocabulary.localizedNames)}}</p>
  <p>{{this.orderNames.productBottom+ ': '+product.productBottom.code + ' - '+ getNameInSelectedLanguage(product.productBottom.vocabulary.localizedNames)}}</p>

  <img id="productMiniature" [src]="getDrawingUrl(product)" >
</div>
</div>
