<header class="header" *ngIf="showHeaderIfNoDrawing()===true">
  <nav class="nav-menu" *ngIf="this.authenticationService.userRole && this.authenticationService.userRole === this.admin">
    <ul class="menuSpan nav-list">
      <!--
      for pagination:<a class="menuLink"[routerLink]="['/orders']" [queryParams]="{pageNumber: 1}" routerLinkActive="active">
      -->
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/orders']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.orders}}</a>
      </li>
      <!--
      pagination:<a class="menuLink" [routerLink]="['/businessPartners/1']" routerLinkActive="active">
      -->
      <li class="nav-item"> 
        <a class="menuLink" [routerLink]="['/businessPartners']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.partners}}</a>
      </li>
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/products']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.products}}</a>
        <ul class="dropdown">
          <li class="nav-item">
            <a class="menuLink" [routerLink]="['/products/types']">{{this.orderNamesInSelectedLanguage.productTypes}}</a>
          </li>
          <li class="nav-item">
            <a class="menuLink" [routerLink]="['/products/tops']"> {{this.orderNamesInSelectedLanguage.productTops}}</a>
          </li>
          <li class="nav-item">
            <a class="menuLink" [routerLink]="['/products/bottoms']">{{this.orderNamesInSelectedLanguage.productBottoms}}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/materials']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.materials}}</a>
      </li>
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/users']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.users}}</a>
      </li>
      <li class="nav-item"> 
        <a class="menuLink" [routerLink]="['/dimensionCodes']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.dimensionCodes}}</a>
      </li>
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/languages']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.languages}}</a>
      </li>
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/vocabularies']"
          routerLinkActive="active">{{this.generalNamesInSelectedLanguage.dictionary}}</a>
      </li>
      <li class="nav-item">
        <a class="menuButton" [routerLink]="['/changePasswordByLoggedUser']"
          routerLinkActive="active">{{this.authenticationService.generalUserNames.changeYourPassword}}</a>
      </li>
      <li class="nav-item">
        <button class="menuButton"
          (click)="this.authenticationService.logOut()">{{this.generalNamesInSelectedLanguage.logout}}</button>
      </li>
    </ul>
  </nav>

  <nav class="nav-menu" *ngIf="this.authenticationService.userRole && this.authenticationService.userRole === this.editor">
    <ul class="menuSpan nav-list">
      <!--
    for pagination:<a class="menuLink"[routerLink]="['/orders']" [queryParams]="{pageNumber: 1}" routerLinkActive="active">
    -->
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/orders']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.orders}}</a>
      </li>
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/businessPartners']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.partners}}</a>
      </li>
      <li class="nav-item">
        <a class="menuButton" [routerLink]="['/changePasswordByLoggedUser']" routerLinkActive="active">{{this.authenticationService.generalUserNames.changeYourPassword}}</a>
      </li>
      <li class="nav-item">
        <button class="menuButton"
        (click)="this.authenticationService.logOut()">{{this.generalNamesInSelectedLanguage.logout}}</button>
      </li>
    </ul>
  </nav>

  <nav class="nav-menu" *ngIf="this.authenticationService.userRole && this.authenticationService.userRole === this.partner">
    <ul class="nav-list">
      <!--
    for pagination:<a class="menuLink"[routerLink]="['/orders']" [queryParams]="{pageNumber: 1}" routerLinkActive="active">
    -->
      <li class="nav-item">
        <a class="menuLink" [routerLink]="['/orders']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.orders}}</a>
      </li>
      <li class="nav-item">
        <a class="menuButton" [routerLink]="['/changePasswordByLoggedUser']" routerLinkActive="active">{{this.authenticationService.generalUserNames.changeYourPassword}}</a>
      </li>
      <li class="nav-item">
        <button class="menuButton" (click)="this.authenticationService.logOut()">{{this.generalNamesInSelectedLanguage.logout}}</button>
      </li>  
    </ul>
  </nav>
</header>