<div *ngIf="showHeaderIfNoDrawing()===true">
  <div *ngIf="this.authenticationService.userRole && this.authenticationService.userRole === this.admin">
  <span>
    <a [routerLink]="['/orders']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.orders}}</a>
  <a [routerLink]="['/businessPartners']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.partners}}</a>
  <a [routerLink]="['/materials']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.materials}}</a>
  <a [routerLink]="['/products']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.products}}</a>
     <a [routerLink]="['/users']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.users}}</a>
    <a [routerLink]="['/dimensionCodes']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.dimensionCodes}}</a>
    <a [routerLink]="['/languages']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.languages}}</a>
     <a [routerLink]="['/vocabularies']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.dictionary}}</a>
     <a [routerLink]="['/changePasswordByLoggedUser']" routerLinkActive="active">{{this.authenticationService.generalUserNames.changeYourPassword}}</a>
      <button (click)="this.authenticationService.logOut()">{{this.generalNamesInSelectedLanguage.logout}}</button>
  </span>

  </div>
  <div *ngIf="this.authenticationService.userRole && this.authenticationService.userRole === this.editor">
  <span>
     <a [routerLink]="['/orders']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.orders}}</a>
    <a [routerLink]="['/businessPartners']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.partners}}</a>
      <a [routerLink]="['/changePasswordByLoggedUser']" routerLinkActive="active">{{this.authenticationService.generalUserNames.changeYourPassword}}</a>
      <button (click)="this.authenticationService.logOut()">{{this.generalNamesInSelectedLanguage.logout}}</button>
  </span>

  </div>
  <div *ngIf="this.authenticationService.userRole && this.authenticationService.userRole === this.partner">
  <span>
     <a [routerLink]="['/orders']" routerLinkActive="active">{{this.generalNamesInSelectedLanguage.orders}}</a>
      <a [routerLink]="['/changePasswordByLoggedUser']" routerLinkActive="active">{{this.authenticationService.generalUserNames.changeYourPassword}}</a>
      <button (click)="this.authenticationService.logOut()">{{this.generalNamesInSelectedLanguage.logout}}</button>
  </span>


  </div>
</div>
