<div class="createOrUpdateFormWindow">
  <span id="languageFlagsSpan" *ngFor="let language of activeLanguages">
    <img class="flagImage" [src]="getFlagUrl(language)" (click)="this.loginService.setSelectedLanguageCodeAndVocabullaryTableInSelectedLanguage(language.languageCode, this.vocabularies, this.languages)"
         [id]="language.languageCode">
  </span>
  <div class="validatorInfo" *ngIf="!this.loginService.selectedLanguageCode">
    <p *ngFor="let name of this.chooseLanguageVersionInAllLanguages">
      {{name}}
    </p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="label" for="email" id="emailId">{{this.userNames.email}}</label>
        <input type="text" class="form-control" formControlName="email" id="email"
               [placeholder]="this.userNames.email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <!---->
          <div class="validatorInfo" *ngIf="email.errors.required">
            {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
          </div>
          <div class="validatorInfo" *ngIf="email.errors.email">
            {{this.userNames.emailMustBeValid}}
          </div>

        </div>
        <label class="label" for="password">{{this.userNames.password}}</label>
        <input type="password" class="form-control" formControlName="password" id="password"
               [placeholder]="this.userNames.password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">

          <div class="validatorInfo" *ngIf="password.errors.required">
            {{this.userNames.passwordIsRequired}}
          </div>
        </div>

      </div>
    </div>

    <div class="addButon">
      <button type="submit" [disabled]="!loginForm.valid || !this.loginService.selectedLanguageCode"
              class="btn btn-danger">{{this.generalNamesInSelectedLanguage.logInButtonDescription}}</button>
    </div>
  </form>

  <div *ngIf="this.showoperationMessage">
    <p>{{operationMessage}}</p>
  </div>
</div>







