.createOrUpdateFormWindow {
  background: #f0f2f5;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.language-nav {
  position: absolute;
  right: 32px;
  top: 32px;
}

.language-nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.language-info {
  font-size: 18px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 32px;
  transform: translate(-50%, 0);
}

.flagImage {
  height: 40px;
  width: 60px;
}

.closeButton {
  position: absolute;
  left: 94%;
  top: 0%;
}

#materialCodeLabel {
  width: max-content;
}
.form-control {
  position: relative;
  width: max-content;
}

.languageFlagsSpan {
  border: 1px solid #FFFF00;
  position: absolute;
  width: 100%;
  display:block;
}
