<div class="createOrUpdateFormWindow">
  <nav class="nav language-nav">
    <ul>
      <li id="languageFlagsSpan" *ngFor="let language of activeLanguages">
        <button (click)="this.loginService.setSelectedLanguageCodeAndVocabullaryTableInSelectedLanguage(language.languageCode, this.vocabularies, this.languages)" [id]="language.languageCode">
          <img class="flagImage" [src]="getFlagUrl(language)">
        </button>
      </li>
    </ul>
  </nav>
  <div class="validatorInfo language-info" *ngIf="!this.loginService.selectedLanguageCode">
    <p *ngFor="let name of this.chooseLanguageVersionInAllLanguages">
      {{name}}
    </p>
  </div>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="this.showoperationMessage" class="validatorInfo validator-info-second">
      <p>{{operationMessage}}</p>
    </div>
    <h2 class="heading">Login</h2>
    <fieldset class="fieldset">
      <input type="text" class="input" formControlName="email" id="email" [placeholder]="this.userNames.email">
      <label class="label" for="email" id="emailId">{{this.userNames.email}}</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <!---->
        <div class="validatorInfo" *ngIf="email.errors.required">
          {{this.generalNamesInSelectedLanguage.thisFieldIsRequired}}
        </div>
        <div class="validatorInfo" *ngIf="email.errors.email">
          {{this.userNames.emailMustBeValid}}
        </div>
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <input type="password" class="input" formControlName="password" id="password" [placeholder]="this.userNames.password">
      <label class="label" for="password">{{this.userNames.password}}</label>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="validatorInfo" *ngIf="password.errors.required">
          {{this.userNames.passwordIsRequired}}
        </div>
      </div>
    </fieldset>
    
    

    <div class="addButon">
      <button type="submit" [disabled]="!loginForm.valid || !this.loginService.selectedLanguageCode" class="button">{{this.generalNamesInSelectedLanguage.logInButtonDescription}}</button>
    </div>
  </form>
</div>







