<a [routerLink]="['/products/tops']" > {{this.orderNamesInSelectedLanguage.productTops}}</a>
<a [routerLink]="['/products/bottoms']">{{this.orderNamesInSelectedLanguage.productBottoms}}</a>
<a [routerLink]="['/products/types']" >{{this.orderNamesInSelectedLanguage.productTypes}}</a>

<!--sss-->

<div>

  <a (click)="createNewProduct();">
    {{generalNamesInSelectedLanguage.addNewButtonDescription}}
  </a>
</div>

<div class="materialComponent">
  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.tableService.selectedId, $event )"> </app-confirm-delete>

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="records" data-order="desc" data-name="productTypeCodePlusName" scope="col">{{this.orderNamesInSelectedLanguage.productType}} <br></th>
      <th [appSort]="records" data-order="desc" data-name="productTopCodePlusName" scope="col">{{this.orderNamesInSelectedLanguage.productTop}}</th>
      <th [appSort]="records" data-order="desc" data-name="productBottomCodePlusNAme" scope="col">{{this.orderNamesInSelectedLanguage.productBottom}}</th>
      <th>{{this.generalNamesInSelectedLanguage.quantity}}</th>

    </tr>
    <tr>
      <th>

        <input class="tableSearchInput"  id="serchInType" [placeholder]="generalNamesInSelectedLanguage.search" [appSearch]="records" serchedColumn="productTypeCodePlusName" /> </th>
      <th><input class="tableSearchInput"  id="serchInTops" [placeholder]="generalNamesInSelectedLanguage.search"  [appSearch]="records" serchedColumn="productTopCodePlusName"/> </th>
      <th><input class="tableSearchInput"  id="serchInBottoms" [placeholder]="generalNamesInSelectedLanguage.search" [appSearch]="records" serchedColumn="productBottomCodePlusNAme"/></th>
      <th>{{this.recordNumbers}}</th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let record of records">
      <td>{{record.productTypeCodePlusName}}</td>
      <td>{{record.productTopCodePlusName}}</td>
      <td>{{record.productBottomCodePlusNAme}}</td>
      <td>
        <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
        <br>
        <button  class="deleteButton" (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(record.id)" [title]="this.generalNamesInSelectedLanguage.deleteButtonInfo" >x</button>
        <button class="updateButton" (click)="updateSelectedRecord(record.id);" [title]="this.generalNamesInSelectedLanguage.closeButtonDescription">u</button>
        <button class="showDrawing" (click)="showDrawing(record.id)">{{this.generalNamesInSelectedLanguage.seeDrawing}}</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>










