<div id="mainCointener" class="mainContainerClass" #mainContainer>

 <div class="validateUserInputsErrorsContainer" *ngIf="this.showUserInputErrorWindow === true" id="validateUserInputsErrorsContainer">
   <app-validation-error-message [userInputErrorsMessages]="userInputErrorMessages" (confirmButtonClickedEvent)="hideErrorMessagewindow($event)"></app-validation-error-message>
 </div>

  <div id="drawingAndTableContainer" #drawingAndTableContainer class="drawingAndTableContainer">

    <div class="drawingMain">
      <div id="drawingContainer" #drawingContainer class="drawingContainer">
        <img id="drawingImage" [src]="bgImageVariable" alt="" #drawingImage>
      </div>
    </div>

    <div class="tableFormContainer" #tabelFormContainer>
      <form [formGroup]="tableForm">
        <app-product-table-form #tableFormComponent></app-product-table-form>
      </form>
    </div>
  </div>
  <div *ngIf="createDimensionClicked=== true" id="createInputFormContainer" class="form form-third">
    <h3 class="heading heading-second"> {{this.orderNames.fillFormToCreateDimension}}</h3>
    <p> {{this.orderNames.pressAndHoldLeftMouseButtonToDrag}} <br>
    {{this.orderNames.toRotateOrChangeSize}} <br>
      1) {{this.orderNames.rightClickOnDrawing}} <br>
      3) {{this.orderNames.dubleLeftClicToRotate}} <br>
      4) {{this.orderNames.useActiveCornerToChangeSieze}} <br>
      5) {{this.orderNames.afterEditionRightClickTOenableDragging}} <br>
      {{this.orderNames.rightCLickOnDimensionToRemove}}.
    </p>
    <form [formGroup]="dimensionRoleForm">
      <div class="form-group">
        <p>{{this.dimensionNames.selectDimensionRole}}</p>
        <input type="radio" formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleFirstIndexDimension"
               [value]="dimensionRoleFirstIndex">
        <label for="dimensionRoleFirstIndexDimension">{{this.dimensionRoleFirstIndexDimensionDescription}}</label>
      </div>
      <div class="form-group">


        <input type="radio" formControlName="dimensionRole" name="dimensionRole"
               id="dimensionRoleSecondIndexDimension" [value]="dimensionRoleSecondIndex"
        >
        <label for="dimensionRoleSecondIndexDimension">{{this.dimensionRoleSecondIndexDimensionDescription}}</label>
      </div>
      <div class="form-group">


        <input type="radio" formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleNoIndexDimension"
               [value]="dimensionRoleNoIndex"
        >
        <label for="dimensionRoleNoIndexDimension">{{this.dimensionRoleNoIndexDimensionDescription}}</label>
      </div>
    </form>
    <form [formGroup]="createDimensionsForm" (ngSubmit)="onSubmitForInputCreating()">
      <fieldset *ngIf="dimensionRole.value === dimensionRoleFirstIndex" class="fieldset">
        <label class="label label-second" for="firstIndexDimension">{{this.generalNamesInSelectedLanguage.select+ ' '+ this.dimensionNames.dimensionRoleFirstIndex}}</label>
        <select class="select-input" formControlName="dimensionCodeControll" id="firstIndexDimension"
                #dimensionIdSelect>
          <option [ngValue]="null" disabled>{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionCode}}</option>
          <option *ngFor="let code of allNotDeletedFirstIndexDimensions" [ngValue]="code.id">
            {{ code.dimensionCode + '-' + code.localizedDimensionName.nameInThisLanguage}}
          </option>
        </select>

      </fieldset>

      <fieldset *ngIf="dimensionRole.value === dimensionRoleSecondIndex" class="fieldset">
        <label class="label label-second" for="secondIndex">{{this.generalNamesInSelectedLanguage.select+ ' '+ this.dimensionNames.dimensionRoleSecondIndex}}</label>
        <select class="select-input" formControlName="dimensionCodeControll" id="secondIndex" #dimensionIdSelect>
          <option [ngValue]="null" disabled>{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionCode}}</option>
          <option *ngFor="let code of allNotDeletedSecondIndexDimensions" [ngValue]="code.id">
            {{ code.dimensionCode + '-' + code.localizedDimensionName.nameInThisLanguage}}
          </option>
        </select>
      </fieldset>
      <fieldset *ngIf="dimensionRole.value === dimensionRoleNoIndex" class="fieldset">
        <label class="label label-second" for="noIndex">{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionRoleNoIndex}}</label>
        <select class="select-input" formControlName="dimensionCodeControll" id="noIndex" #dimensionIdSelect>
          <option [ngValue]="null" disabled>{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionCode}}</option>
          <option *ngFor="let code of allNotDeletedNoIndexDimensions" [ngValue]="code.id">
            {{ code.dimensionCode + '-' + code.localizedDimensionName.nameInThisLanguage}}
          </option>
        </select>
      </fieldset>
      <div class="addButon">
        <button type="submit" [disabled]="!createDimensionsForm.valid" class="button">{{this.orderNames.create}}</button>
      </div>
    </form>
    <button class="closeButton icon" type="button" [title]="this.generalNamesInSelectedLanguage.closeButtonDescription" (click)="this.createDimensionClicked = false">
      <span class="hidden">Zamknij</span>
    </button>
  </div>

  <div *ngIf="operationFailerStatusMessage" class="alert-danger">
    <p>{{operationFailerStatusMessage}}</p>
  </div>
  <div *ngIf="operationSuccessStatusMessage" class="alert-success">
    <p>{{operationSuccessStatusMessage}}</p>
  </div>


  <div class="saveButtons">
    <button class="action-button icon return-button" (click)="navigateBack()" title="{{this.orderNames.backButtonDescription}}">
      <span class="hidden">
        {{this.orderNames.backButtonDescription}}
      </span>
    </button>
    <button class="icon action-button print-button" (click)="printDrawing();" title="{{this.orderNames.printButtonDescription}}">
      <span class="hidden">
        {{this.orderNames.printButtonDescription}}
      </span>
    </button>
    <button *ngIf="createOrUpdateProductMode() === false && checkIfShowDrawingMode()=== false;" class="icon action-button submit-button" (click)="onSubmit()" title="{{this.orderNames.confirmButtonDescription}}">
      <span class="hidden">
        {{this.orderNames.confirmButtonDescription}}
      </span>
    </button>
    <div class="flex-center" *ngIf="createOrUpdateProductMode() === true;">
      <label for="changeDrawingSize" class="label-range">{{this.orderNames.changeDrawingSize}}</label>
      <input class="range-input" id=changeDrawingSize [(ngModel)]="drawingRangeValue"  (change)="this.setDrawingPercentWidth();" type="range" id="volume" name="volume"
             min="20" max="100" #drawingRangeInput>
      <button  class="icon action-button add-button" (click)="saveProductInDatabas()" title="{{this.orderNames.addProduct}}">
        <span class="hidden">
          {{this.orderNames.addProduct}}
        </span>
      </button>
      <button class="icon action-button edit-button" type="button" (click)="this.createDimensionClicked = true;" title="{{this.orderNames.create + ' '+ this.orderNames.dimension}}">
        <span class="hidden">
          {{this.orderNames.create + ' '+ this.orderNames.dimension}}
        </span>
      </button>
      <button class="icon action-button turn-button" (click)="changeTabelOrientation()" type="button" title="{{this.orderNames.rotateTable}}">
        <span class="hidden">
          {{this.orderNames.rotateTable}}
        </span>
      </button>
    </div>
    <div *ngIf=" checkIfShowDrawingMode();">
      <button class="icon action-button pdf-button" (click)="getDrawingPdf();" title="{{this.orderNames.saveToPdfButtonDescription}}">
        <span class="hidden">
          {{this.orderNames.saveToPdfButtonDescription}}
        </span>
      </button>
    </div>
  </div>
</div>

