<div id="mainCointener" class="mainContainerClass" #mainContainer>

 <div *ngIf="this.showUserInputErrorWindow === true" id="validateUserInputsErrorsContainer">
   <app-validation-error-message [userInputErrorsMessages]="userInputErrorMessages" (confirmButtonClickedEvent)="hideErrorMessagewindow($event)"></app-validation-error-message>
 </div>

  <div id="drawingAndTableContainer" #drawingAndTableContainer class="drawingAndTableContainer">

    <div class="drawingMain">
      <div id="drawingContainer" #drawingContainer class="drawingContainer">
        <img id="drawingImage" [src]="bgImageVariable" alt="" #drawingImage>
      </div>
    </div>

    <div class="tableFormContainer" #tabelFormContainer>
      <form [formGroup]="tableForm">
        <app-product-table-form #tableFormComponent></app-product-table-form>
      </form>
    </div>
  </div>
  <div *ngIf="createDimensionClicked=== true" id="createInputFormContainer" class="createInputFormContainer">
    <p> {{this.orderNames.fillFormToCreateDimension}}</p>
    <p> {{this.orderNames.pressAndHoldLeftMouseButtonToDrag}} <br>
    {{this.orderNames.toRotateOrChangeSize}} <br>
      1) {{this.orderNames.rightClickOnDrawing}} <br>
      3) {{this.orderNames.dubleLeftClicToRotate}} <br>
      4) {{this.orderNames.useActiveCornerToChangeSieze}} <br>
      5) {{this.orderNames.afterEditionRightClickTOenableDragging}} <br>
      {{this.orderNames.rightCLickOnDimensionToRemove}}.
    </p>
    <form [formGroup]="dimensionRoleForm">
      <div class="form-group">
        <p>{{this.dimensionNames.selectDimensionRole}}</p>
        <input type="radio" formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleFirstIndexDimension"
               [value]="dimensionRoleFirstIndex">
        <label for="dimensionRoleFirstIndexDimension">{{this.dimensionRoleFirstIndexDimensionDescription}}</label>
      </div>
      <div class="form-group">


        <input type="radio" formControlName="dimensionRole" name="dimensionRole"
               id="dimensionRoleSecondIndexDimension" [value]="dimensionRoleSecondIndex"
        >
        <label for="dimensionRoleSecondIndexDimension">{{this.dimensionRoleSecondIndexDimensionDescription}}</label>
      </div>
      <div class="form-group">


        <input type="radio" formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleNoIndexDimension"
               [value]="dimensionRoleNoIndex"
        >
        <label for="dimensionRoleNoIndexDimension">{{this.dimensionRoleNoIndexDimensionDescription}}</label>
      </div>
    </form>
    <form [formGroup]="createDimensionsForm" (ngSubmit)="onSubmitForInputCreating()">
      <div class="row">
        <div *ngIf="dimensionRole.value === dimensionRoleFirstIndex" class="form-group col-md-6">
          <label class="label" for="firstIndexDimension">{{this.generalNamesInSelectedLanguage.select+ ' '+ this.dimensionNames.dimensionRoleFirstIndex}}</label>
          <select class="form-control" formControlName="dimensionCodeControll" id="firstIndexDimension"
                  #dimensionIdSelect>
            <option [ngValue]="null" disabled>{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionCode}}</option>
            <option *ngFor="let code of allFirstIndexDimensionCodes" [ngValue]="code.dimensionCode">
              {{ code.dimensionCode + '-' + code.localizedDimensionName.nameInThisLanguage}}
            </option>
          </select>

        </div>

        <div *ngIf="dimensionRole.value === dimensionRoleSecondIndex">
          <label class="label" for="secondIndex">{{this.generalNamesInSelectedLanguage.select+ ' '+ this.dimensionNames.dimensionRoleSecondIndex}}</label>
          <select class="form-control" formControlName="dimensionCodeControll" id="secondIndex" #dimensionIdSelect>
            <option [ngValue]="null" disabled>{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionCode}}</option>
            <option *ngFor="let code of allSecondIndexDimensionCOde" [ngValue]="code.dimensionCode">
              {{ code.dimensionCode + '-' + code.localizedDimensionName.nameInThisLanguage}}
            </option>
          </select>
        </div>
        <div *ngIf="dimensionRole.value === dimensionRoleNoIndex">
          <label class="label" for="noIndex">{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionRoleNoIndex}}</label>
          <select class="form-control" formControlName="dimensionCodeControll" id="noIndex" #dimensionIdSelect>
            <option [ngValue]="null" disabled>{{this.generalNamesInSelectedLanguage.select + ' '+ this.dimensionNames.dimensionCode}}</option>
            <option *ngFor="let code of allNonIndexDimensionCodes" [ngValue]="code.dimensionCode">
              {{ code.dimensionCode + '-' + code.localizedDimensionName.nameInThisLanguage}}
            </option>
          </select>
        </div>


      </div>
      <div class="addButon">
        <button type="submit" [disabled]="!createDimensionsForm.valid" class="btn btn-danger">{{this.orderNames.create}}</button>
      </div>
    </form>
    <button class="closeButton" type="button" [title]="this.generalNamesInSelectedLanguage.closeButtonDescription" (click)="this.createDimensionClicked = false">x</button>
  </div>

  <div *ngIf="operationFailerStatusMessage" class="alert-danger">
    <p>{{operationFailerStatusMessage}}</p>
  </div>
  <div *ngIf="operationSuccessStatusMessage" class="alert-success">
    <p>{{operationSuccessStatusMessage}}</p>
  </div>


  <div class="saveButtons">

    <button (click)="navigateBack()">{{this.orderNames.backButtonDescription}}</button>

    <button (click)="printDrawing();">{{this.orderNames.printButtonDescription}}</button>
    <button *ngIf="createOrUpdateProductMode() === false && checkIfShowDrawingMode()=== false;" class="saveButton" (click)="onSubmit()">{{this.orderNames.confirmButtonDescription}}</button>
    <div *ngIf="createOrUpdateProductMode() === true;">
      <button  class="saveButton" (click)="saveProductInDatabas()">{{this.orderNames.addProduct}}</button>
      <button type="button"  (click)="this.createDimensionClicked = true;" >{{this.orderNames.create + ' '+ this.orderNames.dimension}}</button>
      <input [(ngModel)]="drawingRangeValue"  (change)="this.setDrawingPercentWidth();" type="range" id="volume" name="volume"
             min="0" max="100" #drawingRangeInput>
      <button (click)="changeTabelOrientation()" type="button"> obróć tabelę</button>
    </div>
    <div *ngIf=" checkIfShowDrawingMode();">
      <button class="saveButton" (click)="getDrawingPdf();">{{this.orderNames.saveToPdfButtonDescription}}</button>
    </div>
  </div>
</div>

