.mainContainerClass {


}


#drawingContainer {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 30;

  /* if there is no width and height set getBoundingClientReact.width getBoundingClientReact.height does not work because it reads value before div size fits image */
}
#drawingImage {
  display: block;
  width: 100%;

}








.createInputFormContainer {
  position: absolute;
  bottom: 2%;
  right: 2%;
  border: 3px solid grey;
  z-index: 40;
  background-color: burlywood;
  background-repeat: no-repeat;

}

#validateUserInputsErrorsContainer {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid darkred;
  padding: 10px;
  background-color: lightgray;
}










.dimensionInputContainer{
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: 1000;
}

.dimensionInput {
  font-size: 16px;
  position: absolute;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  resize: vertical;
  width: 120px;
  border: 1px solid black;
}


.dimensionInputContainerTop {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.dimensionInputContainerRight {

}
.dimensionInputContainerBottom{
}

.dimensionInputContainerLeft {
}

