.mainContainerClass {
  box-sizing: border-box;
  padding: 1.42vw;
  height: 70.4vw;
  width: 100%;
}

.drawingAndTableContainer {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

.drawingAndTableContainer:before {
  border: 0.1vw solid #565759;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}

.drawingMain {
  position: relative;
  z-index: 30;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.drawingContainer {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  max-height: 100%;
}

#drawingImage {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.createInputFormContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.1vw solid grey;
  z-index: 1000;
  background-color: burlywood;
  background-repeat: no-repeat;
}


.dimensionInputContainer {
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: 1000;
}

.drawingContainerEdit .dimensionInputContainer:before {
  content: "";
  position: absolute;

}

.dimensionInput {
  font-size: 1.2vw;
  line-height: 1.6vw;
  position: absolute;
  white-space: nowrap;
  /*overflow: hidden*/ /*no overflow if we do not want to have active corners for resize*/;
  /*resize: none;*/
  text-align: center;
  border: 1px solid #565759;
  min-width: 1.4vw;
}
.drawingContainerPlaceHolders .dimensionInput:before {
  content: attr(data-value);
  pointer-events: none;
}
.drawingContainerEdit .dimensionInput:before {
 /*pointer-events: none;*/
}


.dimensionInput:focus:before, .inputDimensionWithoutPlaceholder.dimensionInput:before {
  display: none;
}

.dimensionInputContainerTop:before, .dimensionInputContainerTop .dimensionInput {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.dimensionInputContainerTop .dimensionInput {
  /*width: 120px */
  min-width: 1.4vw;
  min-height: unset;
}

.dimensionInputContainerTop:before {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid red;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
}

.dimensionInputContainerRight .dimensionInput {
  right: 0;
  top: 50%;
  /*height: 120px;*/
  writing-mode: vertical-lr;
  /*overflow: hidden*/;
  resize: vertical;
  transform: translate(100%, -50%);
  white-space: nowrap;
  min-width: unset;
  min-height: 1.4vw;
}

.dimensionInputContainerRight:before {
  border-top: 3px solid transparent;
  border-right: 5px solid red;
  border-bottom: 3px solid transparent;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
}

.dimensionInputContainerBottom:before, .dimensionInputContainerBottom .dimensionInput {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.dimensionInputContainerBottom .dimensionInput {
  resize: horizontal;
  min-width: 1.4vw;
  min-height: unset;
  /*width: 120px;*/
}

.dimensionInputContainerBottom:before {
  bottom: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
  transform: translate(-50%, 100%);
  top: auto;
  width: 0;
  height: 0;
}

.dimensionInputContainerLeft .dimensionInput {
  left: 0;
  top: 50%;
  writing-mode: vertical-lr;
  /*overflow: hidden*/;
  resize: vertical;
  transform: translate(-100%, -50%) scale(-1);
  /*height: 120px; */
  white-space: nowrap;
  min-width: unset;
  min-height: 1.4vw;
}

.dimensionInputContainerLeft:before {
  border-top: 3px solid transparent;
  border-left: 5px solid red;
  border-bottom: 3px solid transparent;
  transform: translate(0%, -50%);
  width: 0;
  height: 0;
}

.tableFormContainer {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 30;
}

.saveButtons {
  padding: 12px 0;
}

.saveButtons div {
  float: right;
}

.saveButtons .action-button {
  font-size: 24px;
  padding: 24px;
}

@media print {
  @page {
    size: landscape

  }
  @page {
    margin: 0

  }


  .saveButtons {
    display: none;
  }



}


