.mainContainerClass {
  box-sizing: border-box;
  padding: 3.2vw;
  height: 70.4vw;
  width: 100%;
}

.drawingAndTableContainer {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

.drawingAndTableContainer:before {
  border: 0.1vw solid black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}


.drawingMain {
  position: relative;
  z-index: 30;
  text-align: center;
  height: 100%;
  width: 100%;
}

.drawingContainer {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  max-height: 100%;
}

#drawingImage {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.createInputFormContainer {
  position: absolute;
  bottom: 4%;
  right: 2%;
  border: 0.1vw solid grey;
  z-index: 1000;
  background-color: burlywood;
  background-repeat: no-repeat;
}

#validateUserInputsErrorsContainer {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid darkred;
  padding: 10px;
  background-color: lightgray;
}

.dimensionInputContainer {
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: 1000;
}

.drawingContainerEdit .dimensionInputContainer:before {
  content: "";
  position: absolute;
}

.dimensionInput {
  font-size: 1.6vw;
  position: absolute;
  height: 2vw;
  white-space: nowrap;
  overflow: hidden;
  resize: vertical;
  text-align: center;
  border: 1px solid black;
  width: 12vw;
}

.dimensionInputContainerTop:before, .dimensionInputContainerTop div {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.dimensionInputContainerTop div {
  /*width: 120px */
}

.dimensionInputContainerTop:before {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid red;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
}

.dimensionInputContainerRight div {
  right: 0;
  top: 50%;
  /*height: 120px;*/
  writing-mode: vertical-lr;
  overflow: hidden;
  resize: vertical;
  transform: translate(100%, -50%);
  white-space: nowrap;
}

.dimensionInputContainerRight:before {
  border-top: 3px solid transparent;
  border-right: 5px solid red;
  border-bottom: 3px solid transparent;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
}

.dimensionInputContainerBottom:before, .dimensionInputContainerBottom div {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.dimensionInputContainerBottom div {
  resize: horizontal;
  /*width: 120px;*/
}

.dimensionInputContainerBottom:before {
  bottom: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
  transform: translate(-50%, 100%);
  top: auto;
  width: 0;
  height: 0;
}

.dimensionInputContainerLeft div {
  left: 0;
  top: 50%;
  writing-mode: vertical-lr;
  overflow: hidden;
  resize: vertical;
  transform: translate(-100%, -50%) scale(-1);
  /*height: 120px; */
  white-space: nowrap;
}

.dimensionInputContainerLeft:before {
  border-top: 3px solid transparent;
  border-left: 5px solid red;
  border-bottom: 3px solid transparent;
  transform: translate(0%, -50%);
  width: 0;
  height: 0;
}

.tableFormContainer {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 30;
}

.saveButtons {
  position: sticky;
  z-index: 1000;
  bottom: 1%;
  left: 5%;
}
@media print {
  @page {
    size: landscape

  }
  @page {
    margin: 0

  }


  .saveButtons {
    display: none;
  }
  .drawingContainer {
    overflow: hidden;
  }


}


