<div class="confirmOrWarnWindow">
  <p>{{confirmDeleteDescritpion}}</p>
  <div *ngIf="showconsiderDeletingProducts">{{this.orderNames.considerDeletingProducts}}
  <input [(ngModel)]="allowProductRemoval" type = checkbox (change)="emitProductRemovalAllowed()">
  </div>
    <button id="confirmDeleteButton" class="alert-warning" (click)="confirmDeleteButtonAction();">{{confirmDeleteButtonDescription}}</button>
  <button id="resignFromDeletingButton" class="alert-success" (click)="resignFromDeletingButtonAction();">{{resignFromDeletingButtonDescription}}</button>

</div>
