<div class="confirmOrWarnWindow popup-window">

  <div *ngIf="showconsiderDeletingProducts">{{this.orderNames.considerDeletingProducts}}
    <label for="confirmProductRemoval">{{this.orderNames.deleteConnectedProducts}}</label>
    <input id="confirmProductRemoval" [(ngModel)]="allowProductRemoval" type = checkbox (change)="emitProductRemovalAllowed()">
  </div>
  <p>{{confirmDeleteDescritpion}}</p>
  <button id="confirmDeleteButton" class="button button-popup" (click)="confirmDeleteButtonAction();">{{confirmDeleteButtonDescription}}</button>
  <button id="resignFromDeletingButton" class="button button-popup" (click)="resignFromDeletingButtonAction();">{{resignFromDeletingButtonDescription}}</button>

</div>
