
<!--sss-->
<div class="container">
  <div class="add-button-container">
    <a class="button button-link" (click)="createNewRecord()" routerLinkActive="active">
      {{ this.generalNamesInSelectedLanguage.addNewButtonDescription }}
    </a>
  </div>

  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.tableService.selectedId, $event )"> </app-confirm-delete>

  <table class="table">
    <thead>
    <tr class="table-top">
      <th [appSort]="records" data-order="desc" data-name="languageCode" scope="col">{{this.languageCodeDescription}} <br></th>
      <th [appSort]="records" data-order="desc" data-name="languageName" scope="col">{{this.languageNameDescription}}<br></th>
      <th>{{this.languageActiveDescription}}<br></th>
      <th>{{this.languageNames.flag}}</th>
      <th>{{this.generalNamesInSelectedLanguage.quantity}}</th>
    </tr>
    <tr class="table-search">
      <th>
        <input class="input tableSearchInput" [appSearch]="records" serchedColumn="languageCode" id="serchInCodes" [placeholder]="this.generalNamesInSelectedLanguage.search" />
      </th>
      <th><input class="input tableSearchInput" [appSearch]="records" serchedColumn="languageName" id="serchInNames" [placeholder]="this.generalNamesInSelectedLanguage.search" /></th>
    </tr>

    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td>{{record.languageCode}}</td>
        <td>{{record.languageName}}</td>
        <td>
          <input class="input-checkbox" type="checkbox" [checked]="record.active" [disabled]="true">
          <label for="active" class="input-checkbox-label input-checkbox-label-second icon">
            <span class="hidden">
              {{record.active}}
            </span>
          </label>
        </td>
        <td> 
          <img class="flagImage" [src]="getFlagUrl(record)"> 
        </td>
        <td>
          <text *ngIf="deleTedRecordMessage">{{deleTedRecordMessage}}</text>
          <button class="icon action-button delete-button" (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(record.id)" [title]="deleteButtonInfo">
            <span class="hidden">Usuń</span>
          </button>
          <button class="icon action-button edit-button" (click)="updateSelectedRecord(record.id);" [title]="updateButtonInfo">
            <span class="hidden">Modyfikuj</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>











