
<div>
  <h2 class="heading heading-second">{{this.languageFormTitle}}</h2>
  <div class="languageVersionNames" *ngFor="let language of languages">
    <fieldset class="fieldset">
      <input type="text" class="input input-flag" [id]="language.id" [value]="setValueForLanguageInputInUpdateMode(language.languageCode,this.namesInAllLanguages)" placeholder="language.languageName" #nameInput>
      <label class= "label" [for]="language.id">{{language.languageName}}</label>
      <img class="flagImage flag-form" [src]="getImageUrl(language)"> 
    </fieldset>
  </div>
</div>

