<div class="createOrUpdateFormWindow">
  <form class="form form-second" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <button id="close button" class="closeButton icon" (click)="closeAndGoBack() " [title]="generalNamesInSelectedLanguage.closeButtonDescription">
      <span class="hidden">
        Zamknij
      </span>
    </button>
    <h2 class="heading">{{userNamesInSelectedLanguage.changePassword}}</h2>
    <div class="content-row">
      <span class="content-row-first">{{userNamesInSelectedLanguage.fullName + ': '}}</span><span>{{userFulname}}</span>
    </div>
    <div class="content-row">
      <span class="content-row-first">{{userNamesInSelectedLanguage.email + ': '}}</span><span>{{userEmail}}</span>
    </div>
    <div class="content-row">
      <span class="content-row-first">{{userNamesInSelectedLanguage.status + ': '}}</span><span>{{userStatus}}</span>
    </div>

    <fieldset class="fieldset">
      <input [appGeneretePassword]="password" type="password" class="input" formControlName="password" id="password" placeholder="userNamesInSelectedLanguage.password">
      <label class="label" for="password">{{userNamesInSelectedLanguage.password}}</label>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">

        <div class="validatorInfo" *ngIf="password.errors.required">
          {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
        </div>
        <div class="validatorInfo" *ngIf="password.errors.minlength">
          {{userNamesInSelectedLanguage.passwordMustContain8Characters}}
        </div>

        <div class="validatorInfo" *ngIf="password.hasError('hasNumber')">
          {{userNamesInSelectedLanguage.passwordMustContain2Digest}}
        </div>
        <div class="validatorInfo" *ngIf="password.hasError('hasCapitalCase')">
          {{userNamesInSelectedLanguage.passwordMustContain1CapitalLetter}}
        </div>
        <div class="validatorInfo" *ngIf="password.hasError('hasSmallCase')">
          {{userNamesInSelectedLanguage.passwordMustContain1smallLetter}}
        </div>
      </div>
    </fieldset>
    <button class="button button-second" type="button" (click)="generatePassword()">{{this.orderNames.create +' '+this.userNamesInSelectedLanguage.password}}</button>
    <fieldset class="fieldset">
      <input [appGeneretePassword]="confirmPassword" type="password" class="input" formControlName="confirmPassword" id="confirmPassword" placeholder="userNamesInSelectedLanguage.repeatPassword">
      <label class="label" for="confirmPassword">{{userNamesInSelectedLanguage.repeatPassword}}</label>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="alert alert-danger">

        <div class="validatorInfo" *ngIf="confirmPassword.errors.required">
          {{userNamesInSelectedLanguage.repeatingPasswordIsRequired}}
        </div>
        <div class="validatorInfo" *ngIf="userForm.errors?.NoPassswordMatch">
          {{userNamesInSelectedLanguage.noMatchBetweenPasswords}}
        </div>
      </div>
    </fieldset>

    <div class="addButon">
      <button type="submit" [disabled]="!userForm.valid" class="button">{{generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>
  </form>

  <div *ngIf="operationStatusMessage">
    <textarea>{{operationStatusMessage}}</textarea>
  </div>
</div>







