<div class="createOrUpdateFormWindow">
  <form class="form form-second" [formGroup]="form" (ngSubmit)="onSubmit()">
    <button id="close button" class="closeButton icon" (click)="closeAndGoBack() " [title]='"zamknij"'>
      <span class="hidden">Zamknij</span>
    </button>
    <h2 class="heading">Dodaj Nową frazę</h2>
    <fieldset class="fieldset">
      <input type="text" class="input" formControlName="code" id="code" placeholder="Nazwa zmiennej w aplikacji">
      <label class="label label-second" for="code">Nazwa zmiennej w aplikacji</label>
      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
        <div class="validatorInfo" *ngIf="code.errors.required">
          To pole jest wymagane
        </div>
      </div>
    </fieldset>
    <p>{{giveNameForAllLanguagesDescription}}</p> <br>
    <app-langage-form-component></app-langage-form-component>
    <div class="addButon">
      <button type="submit" [disabled]="!form.valid" class="button">Zapisz</button>
    </div>
  </form>

  <div *ngIf="showoperationStatusMessage">
    <textarea>{{showoperationStatusMessage}}</textarea>
  </div>
</div>








