
<!--sss-->

<div>

  <a  (click)="createNewRecord()">
    {{this.generalNamesInSelectedLanguage.addNewButtonDescription}}
  </a>
</div>

<div class="materialComponent">
  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.tableService.selectedId, $event )"> </app-confirm-delete>

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="records" data-order="desc" data-name="code" scope="col">{{this.orderNamesInSelectedLanguage.productTypeCode}} <br></th>
      <th [appSort]="records" data-order="desc" data-name="localizedNameInSelectedLanguage" scope="col">{{this.orderNamesInSelectedLanguage.productTypeName}}u</th>
      <th>{{this.generalNamesInSelectedLanguage.quantity}}</th>

    </tr>
    <tr>
      <th>

        <input class="tableSearchInput" [appSearch]="records" serchedColumn="code" id="serchInCodes" [placeholder]="this.generalNamesInSelectedLanguage.search" />
      </th>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="localizedNameInSelectedLanguage" id="serchInNames" [placeholder]="this.generalNamesInSelectedLanguage.search" /></th>
      <th>{{this.recordNumbers}}</th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let record of records">
      <td>{{record.code}}</td>
      <td>{{record.localizedNameInSelectedLanguage}}</td>
      <td>
        <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
        <br>
        <button (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(record.id)" [title]="this.generalNamesInSelectedLanguage.deleteButtonInfo" >x</button>
        <button (click)="updateSelectedRecord(record.id);" [title]="this.generalNamesInSelectedLanguage.updateButtonInfo">u</button>
        <button (click)="showProductTops(record.id)">{{this.orderNamesInSelectedLanguage.productTops}}</button>
        <button (click)="showProductBottoms(record.id)">{{this.orderNamesInSelectedLanguage.productBottoms}}</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>










